.main-div {
  margin-left: 30px;
}

.action-buttons {
  display: flex;
}
.action-buttons > Col > Button {
  border-radius: 10px;
  height: 50px;
  width: 200px;
}
.action-buttons-text {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

.print-button {
  width: 200px;
  height: 35px;
}
.save-button {
  width: 100px;
  height: 35px;
}
.clear-button {
  width: 100px;
  height: 35px;
}

@media (max-width: 575px) {
  .main-div {
    margin-left: 20px;
    margin-right: 20px;
  }

  .action-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .print-button {
    width: 400px;
    height: 40px;
  }
  .save-button {
    width: 400px;
    height: 40px;
  }
  .clear-button {
    width: 400px;
    height: 40px;
  }
}
