.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #94d4a8;
  height: auto;
  padding: 0;
  transition: all 0.5s;
  box-shadow: 1px 1px 1px 1px #145f2c;
}

.logo {
  height: 40px;
  margin: 0 20px 0 25px;
  display: block;
}
.logo img {
  height: 100%;
}
.logo .brand {
  display: block;
}
.logo .brand-mobile {
  display: none;
}

@media (max-width: 768px) {
  .ant-layout-header {
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 999;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }

  .logo .brand {
    display: none;
  }
  .logo .brand-mobile {
    display: block;
  }
}
