.ant-btn.app-menu-button {
  border: none;
  box-shadow: none;
  background-color: #94d4a8;
  display: flex;
}

.app-menu-button:hover {
  background-color: #94d4a8 !important;
}

.app-menu-button-icon {
  color: black;
}
