  @media (min-width: 768px) {
   
  .forgot_password {
    color: #777777;
    text-align: center;
  }
  .forgot_password__message {
    padding: 20px 0px;
  }
  .forgot_password__message.is-error {
    color: #e70500;
  }
  .forgot_password__box {
    padding: 20px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
  }
  .forgot_password__footer {
    padding: 10px 0;
  }
}
